<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main class="bg-polar_night_3 text-snow_storm_3 rounded mt-8 mx-auto mb-16 pt-4 px-4 pb-12 md:pt-6 md:px-6 max-w-3xl">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
