---
layout: default
---

<div class="columns-2 pb-4">
  <div class="w-full"><a href="{{ data.category | prepend: "/categories/" | relative_url }}">{{ data.category | prepend: "#" }}</a></div>
  <div class="w-full text-right"> {{ data.date | date: "%a %d %B %Y" }}</div>
</div>

{% if data.canonical %}
  {% render "canonical", metadata: site.metadata, canonical: data.canonical, date: data.date %}
{% endif %}

<article>
  <h1>{{ data.title }}</h1>

  {{ content }}

  <hr/>

  <footer class="text-center">
    <strong>Une réaction ?</strong>
    <a href="mailto:{{ site.metadata.email }}?subject={{ data.title | escape }}" target="_blank" rel="external">Envoyez votre commentaire par courriel</a>.
  </footer>
</article>
