---
layout: default
title: Textes dans la catégorie « :prototype-term-titleize »
prototype:
  collection: posts
  term: category
---

<h1>{{ data.title }}</h1>

<ul>
  {% for post in paginator.resources %}
    <li>
      {{ post.data.date }} <a href="{{ post.relative_url }}">{{ post.data.title }}</a>
    </li>
  {% endfor %}
</ul>
