@import "../fonts/yrsa/yrsa.css";
@import "tailwindcss/base";
@import "tailwindcss/utilities";

@layer base {
  a {
    @apply underline;
    @apply text-frozen;
    @apply decoration-frozen/50;
  }
  a[rel=external] {
    @apply text-yellow;
    @apply decoration-yellow/50;
  }
  a[hreflang]::after {
    content: ' (' attr(hreflang) ')';
    @apply text-polar_night_1;
    @apply text-base;
  }
  a:hover {
    @apply no-underline;
  }
  blockquote {
    @apply italic;
    @apply px-4;
    @apply py-2;
    @apply my-8;
    @apply border-l-4;
    @apply border-purple;
    @apply border-solid;
    @apply bg-purple/10;
  }
  blockquote p:last-child {
    @apply mb-0;
  }
  body {
    @apply text-xl;
    @apply font-light;
    @apply font-serif;
    @apply leading-6;
    @apply bg-polar_night_1;
    @apply text-snow_storm_1;
    @apply mx-2;
  }
  code {
    @apply font-serif;
  }
  figcaption {
    @apply text-snow_storm_1;
    @apply italic;
    @apply text-base;
  }
  figure {
    @apply mb-4;
  }
  h1 {
    @apply text-6xl;
    @apply font-black;
    @apply mt-4;
    @apply mb-12;
    color: var(--heading-color);
  }
  h2 {
    @apply text-4xl;
    @apply font-bold;
    @apply mt-8;
    @apply mb-4;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply mt-6;
    @apply mb-4;
  }
  hr {
    @apply border-t-2;
    @apply border-dotted;
    @apply border-polar_night_1;
    @apply my-8;
  }
  ol {
    @apply list-decimal;
    @apply list-inside;
    @apply pl-4;
    @apply mb-4;
  }
  p {
    @apply mb-4;
  }
  pre {
    @apply mb-8;
  }
  ul {
    @apply list-disc;
    @apply pl-4;
    @apply mb-4;
  }
}

nav a {
  @apply text-2xl;
  @apply text-purple;
}

#canonical a {
  @apply text-frozen;
  @apply decoration-frozen/50;
}


.task-list {
  list-style: none;
}

.task-list-item input[type="checkbox"] {
  margin-right: 0.5em;
}

