@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('./woff2/Yrsa-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('./woff2/Yrsa-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('./woff2/Yrsa-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('./woff2/Yrsa-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('./woff2/Yrsa-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('./woff2/Yrsa-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('./woff2/Yrsa-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('./woff2/Yrsa-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('./woff2/Yrsa-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Yrsa';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('./woff2/Yrsa-BoldItalic.woff2') format('woff2');
}
