<div id="canonical" class="rounded-lg bg-polar_night_1 text-snow_storm_1 text-center text-sm my-8 p-2">
  Ce texte a été vu pour la première fois sur <a rel="external" href="{{ canonical }}" target="_blank">write.as</a> le {{ date | date: "%d %B %Y" }}.
</div>
