<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% seo %}
{% feed_meta %}

<link rel="author" href="{{ "/humans.txt" | relative_url }}" />

<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/android-icon-192x192.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon-96x96.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">

<link rel="stylesheet" href="{% asset_path css %}" />
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}
