<header class="m-4 text-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="inline-block w-1/3 max-w-full" aria-hidden="true" role="img">
    <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
    <line x1="16" y1="8" x2="2" y2="22"></line>
    <line x1="17.5" y1="15" x2="9" y2="15"></line>
  </svg>
</header>

<nav>
  <ul class="list-none my-8 flex gap-8 justify-center text-xl font-bold">
    <li><a class="no-underline hover:text-yellow" href="{{ '/' | relative_url }}">Textes</a></li>
    <li><a class="no-underline hover:text-yellow" href="{{ '/about' | relative_url }}">À propos</a></li>
  </ul>
</nav>
